<html>
  <head>
    <title>Login and Reg | Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% load staticfiles %}
      <script src="{% static 'firstapp/scripts/script.js '%}"></script>
      <link rel="stylesheet" href="{% static 'firstapp/css/main.css' %}" media="screen" title="no title"  charset="utf-8">
  </head>

  <body>
  <section class="section-white">
    <div class="container">

      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <img src="{% static 'firstapp/images/shoes.jpg' %}" alt="...">
            <div class="carousel-caption">
              <h3>Shoes, shoes, and more shoes</h3>
              <p>Search through Zappos to find the right shoes for you!</p>
            </div>
          </div>
          <div class="item">
            <img src="{% static 'firstapp/images/money.jpg' %}" alt="...">
            <div class="carousel-caption">
              <h3>Save</h3>
              <p>Make your wallet happy by buying at the best deals and discounts</p>
            </div>
          </div>
          <div class="item">
            <img src="{% static 'firstapp/images/running.jpg' %}" alt="...">
            <div class="carousel-caption">
              <h3>Socialize</h3>
              <p>Connect with others on the message board to discuss your new purchases</p>
            </div>
          </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>

    </div>
  </section>

  <div id="login-overlay" class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Login to <b>ShoeZ</b></h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-xs-6">
                    <div class="well">
                        <form id="loginForm" method="POST">
                            <div class="form-group">
                                <label for="username" class="control-label">Username</label>
                                <input type="text" class="form-control" name="username" value="" required="" title="Please enter your username" placeholder="username">
                                <span class="help-block"></span>
                            </div>
                            <div class="form-group">
                                <label for="password" class="control-label">Password</label>
                                <input type="password" class="form-control" name="password" placeholder="password" value="" required="" title="Please enter your password">
                                <span class="help-block"></span>
                            </div>
                            <div id="loginErrorMsg" class="alert alert-error hide">Wrong username or password</div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="remember" id="remember"> Remember login
                                </label>
                                <p class="help-block">(if this is a private computer)</p>
                            </div>
                            <button type="submit" value="login" name="submit" class="btn btn-success btn-block">Login</button>
                        </form>
                    </div>
                </div>
                <div class="col-xs-6">
                    <p class="lead">Register now for <span class="text-success">FREE</span></p>
                    <ul class="list-unstyled" style="line-height: 2">
                        <li><span class="fa fa-check text-success"></span> Find the hottest discounts</li>
                        <li><span class="fa fa-check text-success"></span> Stay up to date with Zappos database</li>
                        <li><span class="fa fa-check text-success"></span> Track deals and price trends</li>
                        <li><span class="fa fa-check text-success"></span> Search over 100 brands</li>
                        <li><span class="fa fa-check text-success"></span> Socialize with other users</li>
                        <li><span class="fa fa-check text-success"></span> Share your new shoes with the world</li>
                    </ul>
                    <p><a href="./Register.jsp" class="btn btn-info btn-block">Yes please, register now!</a></p>
                </div>
            </div>
        </div>
    </div>

  </div>







      <!-- <form action = "/register" method='post' class = "login">
        {% csrf_token %}
        <table>
          <tr>
            <h1>Register</h1>
          </tr>
          <tr>
            <td>Email:</td>
            <td><input type='email' name='email'></td>
          </tr>
          <tr>
            <td>Name:</td>
            <td><input type='text' name='name'></td>
          </tr>
          <tr>
            <td>Alias:</td>
            <td><input type='text' name='alias'></td>
          </tr>
          <tr>
            <td>Password:</td>
            <td><input type='password' name='password'></td>
          </tr>
          <tr>
            <td>Confirm pass:</td>
            <td><input type='password' name='confirm'></td>
          </tr>
          <tr>
            <td><input type='submit' value='create user'></td>
          </tr>
        </table>
      </form>

      <form action = "/login" method='post' class = "login">
        {% csrf_token %}
        <table>
          <tr>
            <h1>Login</h1>
          </tr>
          <tr>
            <td>Email:</td>
            <td><input type='email' name='loginemail'></td>
          </tr>
          <tr>
            <td>Password:</td>
            <td><input type='password' name='loginpassword'></td>
          </tr>
          <tr>
            <td><input type='submit' value='create user'></td>
          </tr>
        </table>
      </form>


      {% if messages %}
        <ul class="messages">
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %} -->
  </body>
</html>
